body {
  margin:0;
  padding:0;
  height:100%;
  background-color:#f4f4f4;
}

p {
  margin:0;
}
.homeLeft h3  {
font-weight: 800;
}
.navbar-brand {
  font-size:30px;
  font-weight:700;
  
  }
  main {
    min-height:70vh;
    }

img {
  max-width: 100%;
}

.homeLeft {
  background-color:#f4f4f4;
  border-radius:5px;

}
.footer {
  background-color:black;
  color:white;
  font-size:12px;
  /* position: absolute;
 bottom: 0; */
 width:100%;
}
.country {
  font-size: 30px;
  font-weight: 800;
}
.card-header {
  font-size:16px;
  font-weight: 800;
}

.card-title {
  font-size:18px;
  font-weight: 700;
}

.home {
  background-image:url('./components/img/virusbg.png');
  background-repeat:no-repeat;
  background-position: 80% 50%;
  
}

@media (max-width:320px) {
 
  .home {
    background-image:none !important;

    
  }
}